

@using PagedList.Mvc;
@using PagedList;
@using WebOrderTbRestaurant.Slide
@model PagedList.IPagedList<Banner>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var i = 0;
}

@section jsFooter{
     <script src="~/Assets/Admin/js/ToolEdit.js"></script>
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Slide Món ăn</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh sách slide món ăn đang trưng bày
            </div>
            <div class="btn-create">
                <a href="/Admin/Slide/Create" class=" btn btn-success">
                    <i class="glyphicon glyphicon-plus"></i>
                    Thêm mới slide
                </a>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th style="text-align:center; width:3%;">STT</th>
                            <th style="text-align:center; width:15%;">Tên món ăn</th>
                            <th style="text-align:center; width:25%;">Thành phần</th>
                            <th style="text-align:center">Hình ảnh</th>
                            <th style="text-align:center; width:5%;">Giá</th>
                            <th style="text-align:center; width:25%;">Mô tả món ăn</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            i++;
                            <tr class="odd gradeX">
                                <td>@i</td>
                                <td>@item.Name</td>
                                <td><div class="over-slide">@Html.Raw(item.Ingredient)</div></td>
                                <td><img src="@item.Image" class="img-responsive" /></td>
                                <td>@item.Price.Value.ToString("N0")</td>
                                <td><div class="over-slide">@Html.Raw(item.Description)</div></td>
                                <td>
                                    <div class="dropdown">
                                        <a href="/Admin/Slide/Edit/@item.ID" class="btn glyphicon glyphicon-edit btn-primary" title="Sửa thông tin slide" style="padding-bottom:5px"></a>
                                        <button type="button" class="btn glyphicon glyphicon-remove btn-danger btn-Del-Slide" title="Xóa slide" data-id="@item.ID"></button>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <!-- /.table-responsive -->

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-12">
        <div class="pagination-area d-sm-flex mt-15">
            <div class="page-status">
                <p>Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</p>
            </div>
            <nav aria-label="#">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </nav>
        </div>
    </div>
</div>





